@import "../../estilos/global.css";

.teclado {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 385px;
    height: 507px;
    border-radius: 30px;
    background: var(--background-teclado);
    padding: 20px 20px 0 20px;
}

.organizacao-teclado {
    display: flex;
}

.botao {
    all: unset;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    color: var(--cor-da-fonte);
    cursor: pointer;
}

.lista-funcionalidades {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;

    width: 280px;
    height: 70px;
    border-radius: 40px;
    background-color: var(--cor-botoes);
    margin-bottom: 10px;
}

.lista-numeros {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    width: 280px;
    margin-right: 20px;
}

.numeros {
    width: 70px;
    height: 70px;
    background-color: var(--cor-botoes);
    border-radius: 50%;
    border: none;
}

.lista-operadores {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 70px;
    height: 430;
    background-color: var(--cor-botoes);
    border-radius: 40px;
}

.operacao {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: initial;
}

.divisor {
    width: 200px;
    height: 5px;
    background-color: var(--divisor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 25px;
}