@import "./estilos/global.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.calculadora{
  width:390;
  height: 758px;
  border-radius: 40px;

  background: var(--background-calculadora);
}




